<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="w3-theme-d6 border-right border-3" id="sidebar-wrapper">
        <div class="sidebar-heading w3-theme-d7">
            <h5>Bill Manager</h5> 
        </div>
        <hr class="m-0 p-0">
        <hr class="m-0 p-0">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action w3-theme-d6"><fa-icon [icon]="faTachometerAlt" size="lg" [fixedWidth]="true"></fa-icon> Dashboard</a>
            <a routerLink="Purchase" class="list-group-item list-group-item-action w3-theme-d6"><fa-icon [icon]="faStoreAlt" size="lg" [fixedWidth]="true"></fa-icon> Purchase</a>
            <a href="#" class="list-group-item list-group-item-action w3-theme-d6"><fa-icon [icon]="faClipboardCheck" size="lg" [fixedWidth]="true"></fa-icon> Sales</a>
            <a href="#" class="list-group-item list-group-item-action w3-theme-d6"><fa-icon [icon]="faPeopleCarry" size="lg" [fixedWidth]="true"></fa-icon> Suppliers</a>
            <a href="#" class="list-group-item list-group-item-action w3-theme-d6"><fa-icon [icon]="faBoxOpen" size="lg" [fixedWidth]="true"></fa-icon> Products</a>
            <a href="#" class="list-group-item list-group-item-action w3-theme-d6"><fa-icon [icon]="faMoneyCheck" size="lg" [fixedWidth]="true"></fa-icon> Payment</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <app-top-nav></app-top-nav>
        <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->